# local .terraform directory
.terraform/*
# .terraform.lock.hcl

# terraform state files
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# tf varible files, may include sensiftuv data
*.tfvars

# ignore logs
crash.log

.DS_Store
.vscode/
.aws/
